<nav class="hidden-xs-down bg-faded sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link"
        [routerLink]="[{outlets: { contentOutlet: 'dashboard' }}]"
        routerLinkActive="active">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
        [routerLink]="[{outlets: { contentOutlet: 'product' }}]"
        routerLinkActive="active">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
        [routerLink]="[{outlets: { contentOutlet: 'productlist' }}]"
        routerLinkActive="active">Product List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
        routerLink="/categories"
        routerLinkActive="active">Categories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
        routerLink="/user"
        routerLinkActive="active">Utilisateurs</a>
    </li>
  </ul>
</nav>
