<h3>Products</h3>
<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <div class="card">
        <div class="card-header bg-info text-white">
          {{operation == 'add' ? 'Add Product' :
          operation == 'edit' ? 'Edit Product' :
          operation == 'remove' ? 'Delete Product' : ''}}
          <!--<h4>Add product</h4>-->
        </div>
        <div class="card-body">
          <form [formGroup]="productForm">
            <div class="form-group">
              <input type="hidden" class="form-control" id="validationServer01" formControlName="id" [(ngModel)] = "selectedProduct.id" />
              <label for="validationServer01">Ref:</label>
              <input type="text" class="form-control" id="validationServer02" placeholder="Code product"  formControlName="ref" [(ngModel)] = "selectedProduct.ref" />
              <div class="alert" *ngIf="productForm.controls['ref'].invalid &&
                          (productForm.controls['ref'].dirty || productForm.controls['ref'].touched)">
                Reference is required
              </div>
            </div>
            <div class="form-group">
              <label for="validationServer02">Description:</label>
              <input type="text" class="form-control" id="validationServer03" placeholder="Product name" formControlName="name"  [(ngModel)] = "selectedProduct.name" />
            </div>
            <div class="form-group">
              <label for="validationServer03">Quantity:</label>
              <input type="number" class="form-control" id="validationServer04" placeholder="Quantity" formControlName="qty" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" onpaste="return false" min="0" [(ngModel)] = "selectedProduct.qty" />
            </div>
            <div class="form-group">
              <label for="validationServer04">Unit Price:</label>
              <input type="number" class="form-control" id="validationServer05" placeholder="Unit price" formControlName="unitPrice" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" onpaste="return false" min="0" [(ngModel)] = "selectedProduct.unitPrice"/>
            </div>
            <div class="gButton">
              <button class="btn btn-success btn-save" [disabled]="productForm.invalid" (click)="operation == 'edit' ? editProductComponent() : addProductComponent()"><i class="fa fa-save"></i>Save</button>
              <button class="btn btn-danger" (click)="cancelProductComponent()"><i class="fa fa-remove">Cancel</i></button>
            </div>
          </form>
        </div>
        <div class="card-footer">

        </div>
      </div>
    </div>
  </div>
</div>
